<div class="in_content right_page container-fluid container-sm-height margin">
  	<div class="row row-sm-height">
    	<div class="col-sm-8 col-sm-height col-top">
      		<section class="main_content center">
				  <h3> Ссылка больше недействительна. </h3></br>
				  <h6> Видимо вы уже подтвердили учетную запись.</h6>
			</section>
		</div>
	</div>
</div>