<p>Доброго времени суток, <%= @email %>!</p>

<p>
	С вашей учетной записи была зафиксирована попытка изменения пароля. Если это сделали вы, перейдите по 
	<%= link_to 'cсылке', edit_user_registration_url(:email => @email) %>
	, для подтверждения данной операции.
</p>