<p>Доброго времени суток, <%= @email %>!</p>

<p>С вашего email был зарегистрирован новый пользователь на нашем ресурсе. Если это сделали вы, то подтвердите создание новой учетной записи, перейдя по ниже указанной ссылке:</p>

<p><%= link_to 'Confirm my account', create_identity_url(:email => @email) %></p>