<p>Доброго времени суток, <%= @email %>!</p>

<p>
	С помощью вашего email, на нашем ресурсе, была зафиксирована попытка привязки Twitter аккаунта к учетной записи пользователя. Если это сделали вы, перейдите по 
	<%= link_to 'cсылке', create_identity_url(:email => @email) %>
	, для подтверждения данной операции.
</p>