<!-- Modal Login popup-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="cross"></span><span class="cr_t">Закрыть окно</span></button>
				<h4 class="modal-title" id="myModalLabel">Авторизация</h4>
			</div>
			<div class="modal-body container-fluid">
				<div class="row">
					<div class="col-sm-8">
						<form role="form" class="login_form">
							<div class="form-group">
								<label for="InputEmail1">E-mail</label>
								<input type="email" class="form-control" id="InputEmail1" placeholder="Введите email">
							</div>
							<div class="form-group">
								<label for="InputPassword1">Пароль</label>
								<input type="password" class="form-control" id="InputPassword1" placeholder="Пароль">
							</div>
							<div class="checkbox remember_check">
								<label><input type="checkbox"> Запомнить меня</label>
							</div>
							<button type="submit" class="btn btn-default modal_sbm">Зарегистрироваться</button>
						</form>
					</div>
					<div class="col-sm-4">
						<div class="modal_info">
							<h4>Добро пожаловать!</h4>
							<p>регистрация дает доступ к полной информации по курсам, размещенным на платформе </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- End of Modal Login popup -->