<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<%= aside_menu %>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<div class="article_img">
					<%= image_tag('img1.jpg', :alt => 'people') %>
				</div>
				<p>Сколковский институт науки и технологий (Сколтех) – негосударственный образовательно-исследовательский институт, который находится в Сколково (Россия, Московская область). Созданный в 2011 году при участии Массачусетского технологического института (MIT), Сколтех готовит новые поколения исследователей 
				и предпринимателей, продвигает научные знания и содействует технологическим инновациям с целью решения важнейших проблем, стоящих перед Россией и миром. Институт строит свою работу, опираясь на лучшие традиции российских и международных образовательных и исследовательских практик, делая особый акцент 
				на предпринимательской и инновационной деятельности.</p>
				<p>Модель Сколтеха предусматривает интеграцию образования и исследований, причем как фундаментальных, так и прикладных. Институт будет тесно связан с промышленной 
				и предпринимательской экосистемой, что позволит развивать качественные исследования и генерировать приток инноваций в экономику.</p>
				<h3>История</h3>
				<p>Comments or other information posted by you to our forums, wikis or other areas of the Site designed for public communications or communications among registered class members may be viewed and downloaded by others who visit the Site. For this reason, we encourage you to use discretion when deciding whether to post any information that can be used to identify you to those forums (or other public or</p>
				<h3>Партнеры</h3>
				<div class="partners_block">
					<div class="partners_holder">
						<div class="partner">
							<a href="#"><img src="images/p1.jpg" alt=""></a>
							<div class="ptl"><a href="#">Московский физико-технический институт</a></div>
						</div>
						<div class="partner">
							<a href="#"><img src="images/p2.jpg" alt=""></a>
							<div class="ptl"><a href="#">Московская школа управления «Сколково»</a></div>
						</div>
						<div class="partner">
							<a href="#"><img src="images/p3.jpg" alt=""></a>
							<div class="ptl"><a href="#">Российская экономическая школа</a></div>
						</div>
						<div class="partner">
							<a href="#"><img src="images/p4.jpg" alt=""></a>
							<div class="ptl"><a href="#">Томский политехнический университет</a></div>
						</div>
						<div class="partner">
							<a href="#"><img src="images/p5.jpg" alt=""></a>
							<div class="ptl"><a href="#">Роснано</a></div>
						</div>
						<div class="partner">
							<a href="#"><img src="images/p6.jpg" alt=""></a>
							<div class="ptl"><a href="#">Российская венчурная компания</a></div>
						</div>
					</div>	
				</div>
			</section>
		</div>
	</div>
</div>

<%= session['tmp'] %>