<div class="container-fluid">
	<div class="nav2_container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<ul class="nav2">
					<li><%= link_to('Все курсы', root_path) %></li>
					<li class="active"><%= link_to('Курсы по вузам', courses_path) %></li>
					<li><a href="#">По темам</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-xs-12">
				<form class="navbar-form navbar-right" role="search">
					<input type="text" class="form-control" placeholder="Поиск">
					<button type="submit" class="btn btn-success">Найти</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<%= render 'shared/sort_menu' %>
	
	<% @universities.each do |university| %>
		<div class="courses_container">
			<div class="courses_container_inner clearfix">
				<div class="school_name clearfix">
					<%= link_to university_path(:university => university.abbreviation) do %>
						<span class="school_logo"><%= image_tag(university.logo, :alt => "", size: "87x87", :class => 'margin-right') %></span>
						<%= university.name %>
					<% end %>
				</div>
				<% @courses = university.courses.order(params[:sort_by]) %>
				<%= render 'shared/courses' %>
			</div>
		</div>
	<% end %>
</div>