<div class="container-fluid">
	<div class="nav2_container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<ul class="nav2">
					<li class="active"><a href="#">Все курсы</a></li>
					<li><%= link_to('Курсы по вузам', inner_path) %></li>
					<li><a href="#">По темам</a></li>
				</ul>								
			</div>
			<div class="col-sm-6 col-xs-12">
			  <form class="navbar-form navbar-right" role="search">
					<input type="text" class="form-control" placeholder="Поиск">
					<button type="submit" class="btn btn-success">Найти</button>
			  </form>								
			</div>
		</div>

	</div>	
</div>	
<div class="container-fluid">	
	<!--slider-->
	<div class="slider">
		<ul class="bxslider">
		  <li>
			<div class="slide_container clearfix">
				<div class="slide_video">
					<a href="#"><span class="video_arr"></span><img src="images/slider_video_img_01.jpg" class="img-responsive" alt="" /></a>
				</div>
				<div class="slide_text">
					<h3><a href="#">Принципиальные компоненты статистики</a></h3>
					<p>Петрозаводский Государственный университет соглашение о сотрудничестве академическое партнерство с северо-западным образовательным кластером</p>
					<p><a href="#">Подробнее</a></p>
				</div>			
			</div>
		  </li>
		  <li>
			<div class="slide_container clearfix">
				<div class="slide_video">
					<a href="#"><span class="video_arr"></span><img src="images/slider_video_img_02.jpg" class="img-responsive" alt="" /></a>
				</div>
				<div class="slide_text">
					<h3><a href="#">Петрозаводский Государственный университет</a></h3>
					<p>Принципиальные компоненты статистики Петрозаводский Государственный университет соглашение о сотрудничестве академическое партнерство с северо-западным образовательным кластером</p>
					<p><a href="#">Подробнее</a></p>
				</div>			
			</div>
		  </li>		  
		</ul>	
	</div>
	<!--/slider-->
	<div class="courses_sort clearfix">
		<div class="dropdown sorting">
			<button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
				<span class="caret"></span>Сортировка по дате
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="#">По дате начала курса</a></li>
				<li><a href="#">По теме</a></li>
				<li><a href="#">По университету</a></li>
				<li><a href="#">В свободном доступе</a></li>
			</ul>
		</div>
		<div class="courses_sort_text">
			Лучшие онлайн-курсы в главных университетах страны
		</div>
		<div class="courses_sort_text_hidden">
			онлайн-курсы
		</div>
	</div>
	
	<div class="courses_container">
		<div class="courses_container_inner clearfix">
			<div class="cours_block">
				<a href="#" class="cours_img_block">
					<div class="cour_title">
						Биологические часы и астрономия
					</div>
					<img src="images/cours_img_01.jpg" alt="" />
				</a>
				<div class="cours_info">
					<a href="#">МГУ</a> &bull; 6.00.1x<br />
					Сентябрь, 27, 2014<br />
					Первая часть курса<br />
				</div>
				<div class="cours_buttons">
					<a href="#">Подробнее</a>
					<a href="#">Записаться</a>
				</div>
			</div>
			<div class="cours_block">
				<a href="#" class="cours_img_block">
					<div class="cour_title">
						Биологические часы и астрономия
					</div>
					<img src="images/cours_img_02.jpg" alt="" />
				</a>
				<div class="cours_info">
					<a href="#">МГУ</a> &bull; 6.00.1x<br />
					Сентябрь, 27, 2014<br />
					Первая часть курса<br />
				</div>
				<div class="cours_buttons">
					<a href="#">Подробнее</a>
					<a href="#">Записаться</a>
				</div>
			</div>
			<div class="cours_block">
				<a href="#" class="cours_img_block">
					<div class="cour_title">
						Биологические часы и астрономия
					</div>
					<img src="images/cours_img_03.jpg" alt="" />
				</a>
				<div class="cours_info">
					<a href="#">МГУ</a> &bull; 6.00.1x<br />
					Сентябрь, 27, 2014<br />
					Первая часть курса<br />
				</div>
				<div class="cours_buttons">
					<a href="#">Подробнее</a>
					<a href="#">Записаться</a>
				</div>
			</div>
			<div class="cours_block">
				<a href="#" class="cours_img_block">
					<div class="cour_title">
						Биологические часы и астрономия
					</div>
					<img src="images/cours_img_04.jpg" alt="" />
				</a>
				<div class="cours_info">
					<a href="#">МГУ</a> &bull; 6.00.1x<br />
					Сентябрь, 27, 2014<br />
					Первая часть курса<br />
				</div>
				<div class="cours_buttons">
					<a href="#">Подробнее</a>
					<a href="#">Записаться</a>
				</div>
			</div>
			<div class="cours_block">
				<a href="#" class="cours_img_block">
					<div class="cour_title">
						Биологические часы и астрономия
					</div>
					<img src="images/cours_img_05.jpg" alt="" />
				</a>
				<div class="cours_info">
					<a href="#">МГУ</a> &bull; 6.00.1x<br />
					Сентябрь, 27, 2014<br />
					Первая часть курса<br />
				</div>
				<div class="cours_buttons">
					<a href="#">Подробнее</a>
					<a href="#">Записаться</a>
				</div>
			</div>
			<div class="cours_block">
				<a href="#" class="cours_img_block">
					<div class="cour_title">
						Биологические часы и астрономия
					</div>
					<img src="images/cours_img_01.jpg" alt="" />
				</a>
				<div class="cours_info">
					<a href="#">МГУ</a> &bull; 6.00.1x<br />
					Сентябрь, 27, 2014<br />
					Первая часть курса<br />
				</div>
				<div class="cours_buttons">
					<a href="#">Подробнее</a>
					<a href="#">Записаться</a>
				</div>
			</div>		
		</div>
	</div>
	
	<div class="more_button"><a href="#" type="submit" class="btn btn-success">Еще 245 курсов</a></div>
	
</div>