<%= nav %>
<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside>
				<form action="some.php" class="side_search">
					<input type="text" class="inp" placeholder="Поиск темы">
					<input type="submit" class="sbm" value="">
				</form>
				<ul class="topic_list_menu">
					<li class="down_arr"><a href="#" data-toggle="collapse" data-target="#tl1">Все темы</a>
						<ul class="sub_topics">
							<li><a href="#">Непрочитанные</a></li>
							<li><a href="#">Сортировка по активности</a></li>
						</ul>
					</li>
				</ul>
				<div class="topic_list" id="tl1">
					<div class="single_topic pin">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments">23</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic pin">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments">345</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic pin">
						<a href="#">Неделя 1: Введение в модуль Shiseido (Лекция 1,3)</a>
						<div class="topic_user">
							<div class="topic_comments">178</div>
							<div class="topic_access empl_access">Сотрудники</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments">8</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments">5</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Неделя 1: Введение в модуль Shiseido (Лекция 1,3)</a>
						<div class="topic_user">
							<div class="topic_comments">178</div>
							<div class="topic_access empl_access">Сотрудники</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments">8</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments">5</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Неделя 1: Введение в модуль Shiseido (Лекция 1,3)</a>
						<div class="topic_user">
							<div class="topic_comments">178</div>
							<div class="topic_access empl_access">Сотрудники</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments">8</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments">5</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn btn-success">загрузить еще</a>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<h1>Визуализация Японии</h1>
				<h4>Как пользоваться форумом</h4>
				<div class="forum_options">
					<h5>Найти дискуссии</h5>
					<div class="row d_prop_list">
						<div class="col-md-4"><div class="d_prop d_theme">Сосредоточиться на конкретных темах</div></div>
						<div class="col-md-4"><div class="d_prop d_search">Поиск конкретных должностей</div></div>
						<div class="col-md-4"><div class="d_prop d_sort">Сортировать по дате или комментариям</div></div>
					</div>
					<h5>Взаимодействие с должности</h5>
					<div class="row d_prop_list">
						<div class="col-md-4"><div class="d_prop d_plus">Выбирать сообщения и хорошие отзывы</div></div>
						<div class="col-md-4"><div class="d_prop d_flag">Сообщать об ошибках на форуме</div></div>
						<div class="col-md-4"><div class="d_prop d_star">Следуйте сообщения для обновлений</div></div>
					</div>
					<h5>Получать обновления</h5>
					<div class="check_mail"><input type="checkbox"></div>
					<div class="rtext">Установите этот флажок, чтобы получать по электронной почте переварить один раз в день с уведомлением о новой, непрочитанному деятельности от должности вы следующие.</div>
				</div>
			</section>
		</div>
	</div>
</div>