<%= nav %>
<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside>
				<form action="some.php" class="side_search">
					<input type="text" class="inp" placeholder="Поиск темы">
					<input type="submit" class="sbm" value="">
				</form>
				<ul class="topic_list_menu">
					<li class="down_arr"><a href="#" data-toggle="collapse" data-target="#tl1">Все темы</a>
						<ul class="sub_topics">
							<li><a href="#">Непрочитанные</a></li>
							<li><a href="#">Сортировка по активности</a></li>
						</ul>
					</li>
				</ul>
				<div class="topic_list" id="tl1">
					<div class="single_topic pin">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments">23</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic pin">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments">345</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic pin">
						<a href="#">Неделя 1: Введение в модуль Shiseido (Лекция 1,3)</a>
						<div class="topic_user">
							<div class="topic_comments">178</div>
							<div class="topic_access empl_access">Сотрудники</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments">8</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments">5</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Неделя 1: Введение в модуль Shiseido (Лекция 1,3)</a>
						<div class="topic_user">
							<div class="topic_comments">178</div>
							<div class="topic_access empl_access">Сотрудники</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments">8</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments">5</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Неделя 1: Введение в модуль Shiseido (Лекция 1,3)</a>
						<div class="topic_user">
							<div class="topic_comments">178</div>
							<div class="topic_access empl_access">Сотрудники</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments">8</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments">5</div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn btn-success">загрузить еще</a>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<h1>Новый пост</h1>
				<form role="form" class="newpost_form">
					<div class="form-group">
						<label for="sel01">Тип поста</label>
						<div class="explain">
							Поднять вопросы, которые требуют ответов. Обсуждение обмениваться идеями и начать переговоры
						</div>
						<select name="" id="sel01" class="form-control">
							<option value="">Обсуждение</option>
							<option value="">Предложение</option>
							<option value="">Вопрос</option>
						</select>
					</div>
					<div class="form-group">
						<label for="sel02">Тема поста</label>
						<div class="explain">
							Добавить запись в соответствующей теме, чтобы помочь другим найти её
						</div>
						<select name="" id="sel02" class="form-control">
							<option value="">Общий</option>
							<option value="">Частный</option>
							<option value="">Свой вариант</option>
						</select>
					</div>
					<div class="form-group">
						<label for="sel02">Заголовок</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="tar32">Текст</label>
						<textarea name="" id="tar32" rows="15" class="form-control" ></textarea>
					</div>
					<div class="form-group">
						<div class="follow">
							<input type="checkbox" id="chb01">
							<label for="chb01">follow this post</label>
						</div>
						<div class="anon">
							<input type="checkbox" id="chb02">
							<label for="chb02">Анонимный пост</label>
						</div>
					</div>
					<button type="submit" class="btn btn-default">Отправить</button>
					<button type="reset" class="btn btn-reset">Отменить</button>
				</form>
			</section>
		</div>
	</div>
</div>