<%= nav %>
<div class="in_content no_sidebar">
	<section class="main_content">
		<p>Работая с нашей xConsortium из университетов-партнеров, EDX является расширение прав и возможностей исследований по педагогике или узнать о обучения.</p>
		<p>Онлайн среда обеспечивает мощную платформу для проведения экспериментов, исследуя, как студенты учатся, и как преподаватель может лучше научить с помощью различных новых инструментов и методов.</p>
		<h3>Объем курса</h3>
		<p>Этот курс опирается на три единицы из проекта «Визуализация культур», организованном MIT, чтобы представить снимки современной истории Японии с акцентом на темы «вестернизации», акции протеста, и современности, и рисование, прежде всего, на исторических образов. Профессора Джон Довер (почетный MIT), Эндрю Гордон (Harvard), Шигеру Miyagawa (MIT) и Gennifer Weisenfeld (герцог) участвовать в дискуссиях друг с другом в каждом из этих модулей.</p>
		<p>Мы хотим подчеркнуть, что этот курс не будет предоставлять комплексное обследование современной истории Японии. Она изучает историю через визуальные источники, представленные в трех единиц, опубликованных на Визуализация культур. Это означает, что некоторые важные и чувствительные темы, такие как имперской агрессии Японии в Восточной и Юго-Восточной Азии, не будут получать много внимания.</p>
		<p>Пожалуйста, обратите внимание, что мы ожидаем, что все студенты приняли участие по отношению друг к другу. Важно признать, что, показав определенные образы или обсуждать определенные темы, мы не поддерживаем взгляды или мнения, которые они представляют. Скорее, мы стремимся понять сложность прошлом, даже если прошлое неприятным или оскорбительным для нас в настоящее время. Этот курс не отражает взгляды Гарвардского университета, Массачусетского технологического института, HarvardX, MITx, EDX или Визуализация культур.</p>
		<h3>Расписание</h3>
		<ul>
			<li>Неделя 1: 3 сентября 2014 | Дни 1 (Введение); 2-4 (BSS1)</li>
			<li>Неделя 2: 10 сентября 2014 | Дни 5-8 (BSS2 часть I)</li>
			<li>Неделя 3: 17 сентября 2014 | Дни 9-10 (BSS2 часть II); 11-12 (Переход: После Перри)</li>
		</ul>
		<h3>Заключение</h3>
		<p>Этот курс опирается на три единицы из проекта «Визуализация культур», организованном MIT, чтобы представить снимки современной истории Японии с акцентом на темы «вестернизации», акции протеста, и современности, и рисование, прежде всего, на исторических образов. Профессора Джон Довер (почетный MIT), Эндрю Гордон (Harvard), Шигеру Miyagawa (MIT) и Gennifer Weisenfeld (герцог) участвовать в дискуссиях друг с другом в каждом из этих модулей.</p>
		<p>Мы хотим подчеркнуть, что этот курс не будет предоставлять комплексное обследование современной истории Японии. Она изучает историю через визуальные источники, представленные в трех единиц, опубликованных на Визуализация культур. Это означает, что некоторые важные и чувствительные темы, такие как имперской агрессии Японии в Восточной и Юго-Восточной Азии, не будут получать много внимания.</p>
		<p>Пожалуйста, обратите внимание, что мы ожидаем, что все студенты приняли участие по отношению друг к другу. Важно признать, что, показав определенные образы или обсуждать определенные темы, мы не поддерживаем взгляды или мнения, которые они представляют.</p>
	</section>
</div>