<%= nav %>
<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside>
				<div class="menu_button">О курсе</div>
				<div class="collapse_block">
					<ul class="side_menu">
						<li class="current"><a href="#">Новости</a></li>
						<li><a href="#">учебные материалы</a></li>
						<li><a href="#">Расписание</a></li>
					</ul>
				</div>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<div class="news_entry">
					<div class="date">23 декабря 2014</div>
					<p>Миссия Сколтеха будет заключаться в обучении студентов, создании знаний 
						и продвижении технологий для решения ключевых научных, технологических 
						и инновационных задач как в России, так и во всём мире. Сколтех станет моделью нового российского университета, построенной на основании следующих принципов и целей.</p>
					<p>Мы ищем в причине несколько человек не могли попасть сертификаты. Убедитесь, что вы проверили вашу <a href="#">приборную панель</a>. Это может быть для вас, чтобы скачать. В противном случае, вы не получите сертификат, если вы подходите один из этих описаний</p>
				</div>
				<div class="news_entry">
					<div class="date">12 декабря 2014</div>
					<p>Сколковский институт науки и технологий (Сколтех) – негосударственный образовательно-исследовательский институт, который находится в Сколково (Россия, Московская область). Созданный в 20</p>
				</div>
				<div class="news_entry">
					<div class="date">23 декабря 2014</div>
					<p>Сколтех станет моделью нового российского университета, построенной на основании следующих принципов и целей.</p>
					<p>Мы ищем в причине несколько человек не могли попасть сертификаты. Убедитесь, что вы проверили вашу приборную панель. Это может быть для вас, чтобы скачать. В противном случае, вы не получите сертификат, если вы подходите один из этих описаний</p>
				</div>
				<div class="news_entry">
					<div class="date">12 декабря 2014</div>
					<p>Сколковский институт науки и технологий (Сколтех) – негосударственный образовательно-исследовательский институт, который находится в Сколково (Россия, Московская область). Созданный в 20</p>
				</div>
				<div class="news_entry">
					<div class="date">23 декабря 2014</div>
					<p>Миссия Сколтеха будет заключаться в обучении студентов, создании знаний 
						и продвижении технологий для решения ключевых научных, технологических 
						и инновационных задач как в России, так и во всём мире. Сколтех станет моделью нового российского университета, построенной на основании следующих принципов и целей.</p>
					<p>Мы ищем в причине несколько человек не могли попасть сертификаты. Убедитесь, что вы проверили вашу <a href="#">приборную панель</a>. Это может быть для вас, чтобы скачать. В противном случае, вы не получите сертификат, если вы подходите один из этих описаний</p>
				</div>
			</section>
		</div>
	</div>
</div>