<nav class="course_nav">
	<ul>
		<li><a href="#">лекции</a></li>
		<li><a href="#">о курсе</a></li>
		<li><a href="#">учебный план</a></li>
		<li><a href="#">форум</a></li>
		<li class="current"><%= link_to('успеваемость', kurs_uspevaemost_path) %></li>
	</ul>
</nav>
<div class="in_content no_sidebar">
	<section class="main_content">
		<div class="graph">
			<img src="images/graph.png" alt="">
		</div>
		<div class="fw">
			<div class="container-gluid">
				<div class="row k_item">
					<div class="col-sm-4 ittl">
						Важные опросы перед курсом
					</div>
					<div class="col-sm-8">
						<div class="k_entry">
							<h5><a href="#">Предварительно курс обследования (нажмите здесь, чтобы начать)</a></h5>
							Никакая проблема оценки в этом разделе
						</div>
						<div class="k_entry">
							<h5><a href="#">Учитель обследования</a></h5>
							Никакая проблема оценки в этом разделе
						</div>
					</div>
				</div>
				<div class="row k_item">
					<div class="col-sm-4 ittl">
						Введение: Новые исторические источники для цифровой век
					</div>
					<div class="col-sm-8">
						<div class="k_entry">
							<h5><a href="#">Курс Навигация</a></h5>
							Никакая проблема оценки в этом разделе
						</div>
						<div class="k_entry">
							<h5><a href="#">День 3 - Исторический контекст: средневекового и современного Япония</a></h5>
							<div class="acs">Оценки</div>
							Проблемные результаты:  0/1 0/1 0/1 0/1 0/1 0/1
						</div>
					</div>
				</div>
				<div class="row k_item">
					<div class="col-sm-4 ittl">
						Социальный протест в императорской Японии: Хибия бунт 1905 года
					</div>
					<div class="col-sm-8">
						<div class="k_entry">
							<h5><a href="#">День 4 - Протестуя мира: Обзор Хибия Бунта</a></h5>
							Никакая проблема оценки в этом разделе
						</div>
						<div class="k_entry">
							<h5><a href="#">День 5 - Исторический контекст: средневекового и современного Япония</a></h5>
							<div class="acs">Оценки</div>
							Проблемные результаты:  0/1 0/1 0/1 0/1 0/1 0/1
						</div>
						<div class="k_entry">
							<h5><a href="#">День 6 - Протестуя мира: Обзор Хибия Бунта</a></h5>
							Никакая проблема оценки в этом разделе
						</div>
						<div class="k_entry">
							<h5><a href="#">День 7 - Исторический контекст: средневекового и современного</a></h5>
							<div class="acs">Оценки</div>
							Проблемные результаты:  0/1 0/1 0/1 0/1 0/1 0/1
						</div>
					</div>
				</div>
			</div>
		</div>
		<h5>Таблица</h5>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Неделя</th>
					<th>Топик</th>
					<th>Материалы</th>
					<th>Комментарии</th>
				</tr>
				<tr>
					<td><b>Март</b></td>
					<td>Hello everyone. My name is Rachel, and I am</td>
					<td>Hello everyone. My name is Rachel, and I am a PhD candidate in the field of Japanese art history. <a href="#">My area of specialty</a>, however, is about five hundrd years before the period covered in this course</td>
					<td>Hello everyone. My name is Rachel, and I am a PhD candidate in the field of Japanese art history.</td>
				</tr>
				<tr>
					<td><b>Апрель</b></td>
					<td>Hello everyone. My name is Rachel, and I am</td>
					<td>Hello everyone. My name is Rachel, and I am a PhD candidate in the field of Japanese art history. My area of specialty, however, is about five hundrd years before the period covered in this course</td>
					<td>Hello everyone. My name is Rachel, and I am a PhD candidate in the field of Japanese art history.</td>
				</tr>
			</table>
		</div>
	</section>
</div>