<%= nav %>
<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside>
				<form action="some.php" class="side_search">
					<input type="text" class="inp" placeholder="Поиск темы">
					<input type="submit" class="sbm" value="">
				</form>

				<ul class="topic_list_menu">
					<li class="down_arr"><a href="#" data-toggle="collapse" data-target="#tl1">Все темы</a>
						<ul class="sub_topics">
							<li><a href="#">Непрочитанные</a></li>
							<li><a href="#">Сортировка по активности</a></li>
						</ul>
					</li>
				</ul>
				
				<div class="topic_list" id="tl1">
					<div class="single_topic pin">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">23</a></div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic pin">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">345</a></div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic pin">
						<a href="#">Неделя 1: Введение в модуль Shiseido (Лекция 1,3)</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">178</a></div>
							<div class="topic_access empl_access">Сотрудники</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">8</a></div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">5</a></div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Неделя 1: Введение в модуль Shiseido (Лекция 1,3)</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">178</a></div>
							<div class="topic_access empl_access">Сотрудники</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">8</a></div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">5</a></div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Неделя 1: Введение в модуль Shiseido (Лекция 1,3)</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">178</a></div>
							<div class="topic_access empl_access">Сотрудники</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Что такое современность? Почему Вторая мировая война современная война?</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">8</a></div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<div class="single_topic">
						<a href="#">Заключительный Подведение итогов: Что вы узнали?</a>
						<div class="topic_user">
							<div class="topic_comments"><a href="#">5</a></div>
							<div class="topic_access user_access">Пользователи</div>
						</div>
					</div>
					<a href="#" class="btn btn-success">загрузить еще</a>
				</div>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<header class="forum_head">
					<div class="forum_misc">
						<span class="tt">3 голоса</span>
						<ul>
							<li class="vote"><a href="#" title="Голосовать"></a></li>
							<li class="fav"><a href="#" title="В избранное"></a></li>
							<li class="more"><a href="#" title="Еще">...</a><div class="report"><a href="#">Report</a></div></li>
						</ul>
					</div>
					<h1 class="pin">Заключительное Подведение итогов</h1>
					<div class="username"><a href="#">Username</a></div>
					<div class="published">Опубликовано 5 дней назад </div>
					<div class="topic_access empl_access">Сотрудники</div>
					<a href="#" class="unpin_it">Открепить</a>
				</header>

				<div class="entry">
					<p>На протяжении всего этого блока, мы изучили изображения, полученные с помощью успешных компаний, таких как Shiseido и Зингера, чтобы исследовать эпоху, когда массовое потребление и популярная культура потребления вырос на первый план в Японии и во всем мире. </p>
					<p>В значительной степени, это культура и ответы на него определяется современность в первой части двадцатого века, в отношениях, которые продолжают влиять на наш опыт современности в настоящее время.</p>
					<p>Для этого заключительного обсуждения, пожалуйста, опишите одно изображение из этого модуля, который ударил вас наиболее сильно. То, что делает изображение настолько сильны? Есть ли понимание исторического контекста сделать его более или менее мощный? Почему да или почему нет? Отправить комментарий свой собственный, или ответить на однокурсника.</p>
				</div>

				<form role="form" class="comment_form">
					<div class="form-group">
						<label for="tar31">Комментировать</label>
						<textarea name="" id="tar31" cols="30" rows="5" class="form-control" ></textarea>
						<button type="submit" class="btn btn-default modal_sbm">Отправить</button>
					</div>
				</form>
				<div class="all_comments">
					<div class="heading">Всего 76 ответов</div>
					<div id="comments_area" class="comm">
						<div class="single_comment">
							<div class="forum_misc">
								<span class="tt">3 голоса</span>
								<ul>
									<li class="vote"><a href="#" title="Голосовать"></a></li>
									<li class="more"><a href="#" title="Еще">...</a><div class="report"><a href="#">Report</a></div></li>
								</ul>
							</div>
							<div class="username"><a href="#">Username</a></div>
							<div class="published">Опубликовано 5 дней назад </div>
							<div class="comment_content">
								<p>Для меня, тот образ, который является самым мощным является одним из молодой женщины в самолете. Как обсуждалось, она является современным, независимым, предприимчивый, но есть также несколько угрожающим предзнаменованием, что грядет, как японский готовятся к войне. Я не понимаю, как современные женщины были в 1930-е годы.</p>
							</div>
							<div class="down_arr"><a href="#">Комментировать</a></div>
							<form role="form" class="comment_form">
								<div class="form-group">
									<textarea name="" id="tar32" cols="30" rows="5" class="form-control" ></textarea>
									<button type="submit" class="btn btn-default modal_sbm">Отправить</button>
								</div>
							</form>
							<div class="comment_replies">
								<div class="single_reply">
									<div class="forum_misc">
										<ul>
											<li class="more"><a href="#" title="Еще">...</a><div class="report"><a href="#">Report</a></div></li>
										</ul>
									</div>
									<div class="published">Опубликовано 5 дней назад </div>
									<div class="username"><a href="#">Username</a></div>
									<div class="reply_content">
										<p>Для меня, тот образ, который является самым мощным является одним из молодой женщины в самолете. Как обсуждалось, она является современным, независимым, предприимчивый, но есть также несколько угрожающим предзнаменованием, что грядет, как японский готовятся к войне. Я не понимаю, как современные женщины были в 1930-е годы.</p>
									</div>
								</div>
								<div class="single_reply">
									<div class="forum_misc">
										<ul>
											<li class="more"><a href="#" title="Еще">...</a><div class="report"><a href="#">Report</a></div></li>
										</ul>
									</div>
									<div class="published">Опубликовано 5 дней назад </div>
									<div class="username"><a href="#">Username</a></div>
									<div class="reply_content">
										<p>Для меня, тот образ, который является самым мощным является одним из молодой женщины в самолете. Как обсуждалось, она является современным, независимым, предприимчивый, но есть также несколько угрожающим предзнаменованием, что грядет, как японский готовятся к войне. Я не понимаю, как современные женщины были в 1930-е годы.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="single_comment">
							<div class="forum_misc">
								<span class="tt">3 голоса</span>
								<ul>
									<li class="vote"><a href="#" title="Голосовать"></a></li>
									<li class="more"><a href="#" title="Еще">...</a><div class="report"><a href="#">Report</a></div></li>
								</ul>
							</div>
							<div class="username"><a href="#">Sanazpomme</a></div>
							<div class="published">Опубликовано 5 дней назад </div>
							<div class="comment_content">
								<p>Для меня, тот образ, который является самым мощным является одним из молодой женщины в самолете. Как обсуждалось, она является современным, независимым, предприимчивый, но есть также несколько угрожающим предзнаменованием, что грядет, как японский готовятся к войне. Я не понимаю, как современные женщины были в 1930-е годы.</p>
							</div>
							<div class="down_arr"><a href="#">Комментировать</a></div>
							<form role="form" class="comment_form">
								<div class="form-group">
									<textarea name="" id="tar32" cols="30" rows="5" class="form-control" ></textarea>
									<button type="submit" class="btn btn-default modal_sbm">Отправить</button>
								</div>
							</form>
						</div>
						<div class="displayed">Показано 25 последних комментариев</div>
						<a href="#" class="btn btn-success">загрузить еще</a>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>