<%= nav %>
<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside class="user_side">
				<div class="uname">Username</div>
				<div class="status">Community TA, Student</div>
				<table class="simple_table">
					<tr>
						<td>Темы</td>
						<td class="alr">5</td>
					</tr>
					<tr>
						<td>Комментарии</td>
						<td class="alr">234</td>
					</tr>
				</table>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<h1>активные темы</h1>
				<div class="single_comment">
					<h4>Заключительное Подведение итогов</h4>
					<div class="username"><a href="#">Username</a></div>
					<div class="published">Опубликовано 5 дней назад </div>
					<div class="comment_content">
						<p>Для меня, тот образ, который является самым мощным является одним из молодой женщины в самолете. Как обсуждалось, она является современным, независимым, предприимчивый, но есть также несколько угрожающим предзнаменованием, что грядет, как японский готовятся к войне. Я не понимаю, как современные женщины были в 1930-е годы.</p>
					</div>
					<a href="#">Смотреть тему</a>
				</div>
				<div class="single_comment">
					<h4>Подведение итогов</h4>
					<div class="username"><a href="#">Username</a></div>
					<div class="published">Опубликовано 5 дней назад </div>
					<div class="comment_content">
						<p>Для меня, тот образ, который является самым мощным является одним из молодой женщины в самолете. Как обсуждалось, она является современным, независимым, предприимчивый, но есть также несколько угрожающим предзнаменованием, что грядет, как японский готовятся к войне. Я не понимаю, как современные женщины были в 1930-е годы.</p>
					</div>
					<a href="#">Смотреть тему</a>
				</div>
				<div class="single_comment">
					<h4>Заключительное Подведение итогов</h4>
					<div class="username"><a href="#">Username</a></div>
					<div class="published">Опубликовано 5 дней назад </div>
					<div class="comment_content">
						<p>Для меня, тот образ, который является самым мощным является одним из молодой женщины в самолете. Как обсуждалось, она является современным, независимым, предприимчивый, но есть также несколько угрожающим предзнаменованием, что грядет, как японский готовятся к войне. Я не понимаю, как современные женщины были в 1930-е годы.</p>
					</div>
					<a href="#">Смотреть тему</a>
				</div>
				<ul class="paginator">
					<li class="active"><span>1</span></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
				</ul>
				<ul class="next_prev">
					<li>Предыдущая</li>
					<li><a href="#">Следующая</a></li>
				</ul>
			</section>
		</div>
	</div>
</div>