<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside>
				<ul class="side_menu">
					<li><a href="#">как это работает</a></li>
					<li><a href="#">Частые вопросы</a></li>
					<li><a href="#">преподавателям</a></li>
					<li><a href="#">О проекте</a></li>
					<li class="current"><a href="#">Новости</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content full_news_item">
				<h1>Создание инновационной среды института: в Сколтехе исследования и образование будут интегрированы</h1>
				<div class="date">23 декабря 2014</div>
				<img src="images/img6.jpg" alt="">
				<p>Сколковский институт науки и технологий (Сколтех) – негосударственный образовательно-исследовательский институт, который находится в Сколково (Россия, Московская область). Созданный в 2011 году при участии Массачусетского технологического института (MIT), Сколтех готовит новые поколения исследователей и предпринимателей, продвигает научные знания и содействует технологическим инновациям с целью решения важнейших проблем, стоящих перед Россией и миром. Институт строит свою работу, опираясь на лучшие традиции российских и международных образовательных и исследовательских практик, делая особый акцент на предпринимательской и инновационной деятельности.</p>
				<p>Модель Сколтеха предусматривает интеграцию образования и исследований, причем как фундаментальных, так и прикладных. Институт будет тесно связан с промышленной и предпринимательской экосистемой, что позволит развивать качественные исследования и генерировать приток инноваций в экономику.</p>
				<div class="sub_block"><a href="#">Все новости</a></div>
			</section>
		</div>
	</div>
</div>