<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside>
				<ul class="side_menu">
					<li><a href="#">как это работает</a></li>
					<li><a href="#">Частые вопросы</a></li>
					<li><a href="#">преподавателям</a></li>
					<li><a href="#">О проекте</a></li>
					<li class="current"><a href="#">Новости</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<div class="all_news">
					<div class="news_excerpt">
						<h5><a href="#">Создание инновационной среды института: в Сколтехе исследования и образование будут интегрированы</a></h5>
						<div class="date">23 декабря 2014</div>
						<p>Миссия Сколтеха будет заключаться в обучении студентов, создании знаний 
							и продвижении технологий для решения ключевых научных, технологических 
							и инновационных задач как в России, так и во всём мире. 
							Сколтех станет моделью нового российского университета, построенной на основании следующих принципов и целей</p>
						<a href="#" class="read_more">Подробнее</a>
					</div>
					<div class="news_excerpt">
						<h5><a href="#">Формирование основ исследовательского университета мирового класса, который будет способствовать привлечению, формированию и удержанию талантов в Сколково и России.</a></h5>
						<div class="date">23 декабря 2014</div>
						<p>Сколковский институт науки и технологий (Сколтех) – негосударственный образовательно-исследовательский институт, который находится в Сколково (Россия, Московская область). Созданный в 20</p>
						<a href="#" class="read_more">Подробнее</a>
					</div>
					<div class="news_excerpt">
						<h5><a href="#">Пятнадцать Центров науки</a></h5>
						<div class="date">23 декабря 2014</div>
						<img src="images/img5.jpg" alt="">
						<p>Миссия Сколтеха будет заключаться в обучении студентов, создании знаний и продвижении технологий для решения ключевых научных, технологических и инновационных задач как в России, так и во всём мире.</p>
						<a href="#" class="read_more">Подробнее</a>
					</div>
					<div class="news_excerpt">
						<h5><a href="#">Создание инновационной среды института: в Сколтехе исследования и образование будут интегрированы</a></h5>
						<div class="date">23 декабря 2014</div>
						<p>Миссия Сколтеха будет заключаться в обучении студентов, создании знаний 
							и продвижении технологий для решения ключевых научных, технологических 
							и инновационных задач как в России, так и во всём мире. 
							Сколтех станет моделью нового российского университета, построенной на основании следующих принципов и целей</p>
						<a href="#" class="read_more">Подробнее</a>
					</div>
					<div class="news_excerpt">
						<h5><a href="#">Формирование основ исследовательского университета мирового класса, который будет способствовать привлечению, формированию и удержанию талантов в Сколково и России.</a></h5>
						<div class="date">23 декабря 2014</div>
						<p>Сколковский институт науки и технологий (Сколтех) – негосударственный образовательно-исследовательский институт, который находится в Сколково (Россия, Московская область). Созданный в 20</p>
						<a href="#" class="read_more">Подробнее</a>
					</div>
				</div>
				<ul class="paginator">
					<li class="active"><span>1</span></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
				</ul>
				<ul class="next_prev">
					<li>Предыдущая</li>
					<li><a href="#">Следующая</a></li>
				</ul>
			</section>
		</div>
	</div>
</div>