<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<%= aside_menu %>
		<div class="col-sm-9 col-sm-height col-top">
		<% if params[:news].nil? %>
			<section class="main_content">
				<% @news.each do |news| %>
					<div class="all_news">
						<div class="news_excerpt">
							<h5><%= link_to news.title, news_path(news: news.id) %></h5>
							<div class="date"><%= news.created_at.strftime("%d/%m/%Y %I:%M %p") %></div>
							<p><%= news.description[0..150] %></p>
							<%= link_to 'Подробнее', news_path(news: news.id), :class => 'read_more' %>
						</div>
					</div>
				<% end %>
				<%= pagination_links(@news) %>
			</section>
		<% else %>
			<section class="main_content full_news_item">
				<h1><%= @news.title %></h1>
				<div class="date"><%= @news.created_at.strftime("%d/%m/%Y %I:%M %p") %></div>
				<%= image_tag(@news.picture, :alt => "", :class => 'img-responsive') %>
				<p><%= @news.description %></p>
				<div class="sub_block"><%= link_to 'Все новости', news_path %></div>
			</section>
		<% end %>
		</div>
	</div>
</div>