<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside>
				<ul class="side_menu">
					<li><a href="#">как это работает</a></li>
					<li><a href="#">Частые вопросы</a></li>
					<li class="current"><a href="#">преподавателям</a></li>
					<li><a href="#">О проекте</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<p>Работая с нашей xConsortium из университетов-партнеров, EDX является расширение прав и возможностей исследований по педагогике или узнать о обучения.</p>
				<p>Онлайн среда обеспечивает мощную платформу для проведения экспериментов, исследуя, как студенты учатся, и как преподаватель может лучше научить с помощью различных новых инструментов и методов.</p>
				<h3>Фундаментальные вопросы включают в себя</h3>
				<ul>
					<li>Что мотивирует студентов учиться и сохраняются?</li>
					<li>Что помогает студентам сохранить знания?</li>
					<li>Каковы наиболее эффективные методы преподавания сложные идеи?</li>
					<li>Как мы можем оценить, что студенты узнали?</li>
					<li>Что лучше всего могут рассказать лично против онлайн?</li>
				</ul>
				<p>щательно оценке данных курсов, от щелчков мыши, чтобы время, потраченное 
				на задачи, чтобы оценить, как студенты отвечают разным оценкам, исследователи надеются пролить свет на, как учащиеся доступа к информационным и мастер-материалы, с конечной целью улучшения результатов курса.</p>
				<p>Ниже вы найдете выборку исследовательских работ, авторами которых являются нашими партнерами xConsortium:</p>
				<div class="all_news">
					<div class="news_excerpt">
						<h5><a href="#">Потрясенный Versus All-At-Once Content публикации в массивных открытых онлайновых курсов: Оценка естественного эксперимента</a></h5>
						<div class="date">23 декабря 2014</div>
						<a href="#"><img src="images/harvardx.png" alt=""></a>
						<p>Миссия Сколтеха будет заключаться в обучении студентов, создании знаний и продвижении технологий для решения ключевых научных, технологических и инновационных задач как в России, так и во всём мире.</p>
						<a href="#" class="read_more">Подробнее</a>
					</div>
					<div class="news_excerpt">
						<h5><a href="#">Обучение в Вводный физики Mooc: Все когорты ЖЖ Равным образом, в том числе в на кампусе класса</a></h5>
						<div class="date">23 декабря 2014</div>
						<a href="#"><img src="images/irr.png" alt=""></a>
						<p>Миссия Сколтеха будет заключаться в обучении студентов, создании знаний и продвижении технологий для решения ключевых научных, технологических и инновационных задач как в России, так и во всём мире.</p>
						<a href="#" class="read_more">Подробнее</a>
					</div>
				</div>
				<ul class="paginator">
					<li class="active"><span>1</span></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
				</ul>
				<ul class="next_prev">
					<li>Предыдущая</li>
					<li><a href="#">Следующая</a></li>
				</ul>

			</section>
		</div>
	</div>
</div>