<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside>
				<ul class="side_menu">
					<li><a href="#">как это работает</a></li>
					<li class="current"><a href="#">Частые вопросы</a></li>
					<li><a href="#">преподавателям</a></li>
					<li><a href="#">О проекте</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<p>Образовательные программы и объединенная программа по инновациям 
				и предпринимательству в Сколтех станут гарантией того, что все студенты института будут понимать процессы коммерциализации науки и технологий. Базовые предметы в области инноваций и предпринимательства будут обязательны для всех студентов.</p>
				<form role="form" class="qform">
					<div class="form-group">
						<label for="text-area1" class="caret_right">Задать вопрос</label>
						<div class="retractable">
							<textarea class="form-control" id="text-area1" rows="4"></textarea>
							<div class="btn_wrap">
								<button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Ваше сообщение отправлено">Отправить</button>
							</div>
						</div>
					</div>
				</form>
				<h3>Общие вопросы</h3>
				<dl class="faq">
					<dt><span>Кто может принять курс SkolTech? Как мне зарегистрироваться?</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>

					<dt><span>Что делать, если у меня есть технический проблемы с регистрации, логин, или доступ курса?</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Сколько это будет стоить, чтобы взять курс? (Это бесплатно!)</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Есть курсы доступны для студентов с ограниченными возможностями?</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Есть EDX курсы имеют стенограммы?</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Курсы предлагаются только на английском языке?</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Я жить-то, что YouTube не доступен. Как смотреть видео?</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Могу ли я получить доступ к EDX курсы по моему умному телефону или планшетного компьютера?</span></dt>
						<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Есть ли проходных образца курса сессии?</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Я не закончил Демо курс, я могу еще начать мои другие курсы?</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Что произойдет, если я должен бросить курс? Смогу ли я взять тот же или другой курс в будущем?</span></dt>
						<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
					<dt><span>Что такое кодекс чести EDX?</span></dt>
					<dd>
						<p>EDX курсы открыты для всех. Все, что вам нужно, это доступ к компьютеру с текущего браузера, подключенного к Интернету, и, конечно, желание учиться.</p>
						<p>Чтобы зарегистрироваться, зарегистрироваться EDX, а затем зарегистрироваться 
							на выбранный вами, курс. Выберите Регистрация для начала работы. Если вы не выберите проверено сертификат, регистрация бесплатна!</p>
					</dd>
				</dl>
				<h3>Вопросы по курсам</h3>
				<dl class="faq">
					<dt><span>Когда начинается мой курс и заканчивается?</span></dt>
					<dd><p>Вы можете найти дату начала и продолжительность курса для каждого курса на его описании Конечно странице. Если вы зарегистрированы на курс, вы также увидите его дату начала на приборной панели. Конечно, может начаться в любое время в течение дня на его дату начала. </p></dd>
					<dt><span>Как мне войти принять курс EDX?</span></dt>
					<dd><p>Вы можете найти дату начала и продолжительность курса для каждого курса на его описании Конечно странице. Если вы зарегистрированы на курс, вы также увидите его дату начала на приборной панели. Конечно, может начаться в любое время в течение дня на его дату начала. </p></dd>
					<dt><span>Сколько работы я должен сделать, чтобы пройти курс обучения?</span></dt>
					<dd><p>Вы можете найти дату начала и продолжительность курса для каждого курса на его описании Конечно странице. Если вы зарегистрированы на курс, вы также увидите его дату начала на приборной панели. Конечно, может начаться в любое время в течение дня на его дату начала. </p></dd>
					<dt><span>Что я должен сделать, прежде чем я взять курс?</span></dt>
					<dd><p>Вы можете найти дату начала и продолжительность курса для каждого курса на его описании Конечно странице. Если вы зарегистрированы на курс, вы также увидите его дату начала на приборной панели. Конечно, может начаться в любое время в течение дня на его дату начала. </p></dd>
					<dt><span>Какие книги я должен прочитать?</span></dt>
					<dd><p>Вы можете найти дату начала и продолжительность курса для каждого курса на его описании Конечно странице. Если вы зарегистрированы на курс, вы также увидите его дату начала на приборной панели. Конечно, может начаться в любое время в течение дня на его дату начала. </p></dd>
				</dl>
			</section>
		</div>
	</div>
</div>