<div class="in_content right_page container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-8 col-sm-height col-top">
			<section class="main_content">
				<h1>регистрация</h1>
				<h5>Или создайте учетную запись</h5>
				<form role="form" class="reg_form">
					<div class="form-group">
						<label for="inputName17">Имя (обязательно)</label>
						<input type="text" class="form-control" id="inputName17">
					</div>
					<div class="form-group">
						<label for="inputEmail17">E-mail (обязательно, необходим для сертификатов)</label>
						<input type="email" class="form-control" id="inputEmail17">
					</div>
					<div class="form-group">
						<label for="inputUserName17">Имя пользователя</label>
						<input type="text" class="form-control" id="inputUserName17">
					</div>
					<div class="form-group">
						<label for="inputPassword17">Пароль</label>
						<input type="text" class="form-control" id="inputPassword17">
					</div>
					<div class="form-group">
						<label for="select1">Образование (не обязательно)</label>
						<select name="" id="select1" class="form-control">
							<option value="">Отсутствует</option>
							<option value="">Среднее</option>
							<option value="">Высшее</option>
						</select>
					</div>
					<div class="form-group">
						<label for="text-area1">Пожалуйста, поделитесь с нами своими причинами для регистрации</label>
						<textarea class="form-control" id="text-area1" rows="5"></textarea>
					</div>
					<div class="checkbox remember_check">
						<label><input type="checkbox"> Я согласен с <a href="#">пользовательским соглашением</a><br> и <a href="#">политикой конфиденциальности</a></label>
					</div>
					<button type="submit" class="btn btn-default modal_sbm">Зарегистрироваться</button>
				</form>
			</section>
		</div>
		<div class="col-sm-4 col-sm-height col-top main_sidebar">
			<aside class="simple_side">
				<h5>Добро пожаловать!</h5>
				<p>Регистрация дает вам доступ ко всем из наших текущих и будущих бесплатных курсов. Не готов взять курс только пока? Регистрация ставит вас на нашу рассылку, мы будем информировать вас, как курсы добавляются.</p>
				<h5>Следующие шаги</h5>
				<p>В рамках присоединения EDX, вы получите письмо активации. Вы должны нажать на ссылку активации, чтобы завершить процесс.</p>
				<h5>Нужна помощь?</h5>
				<p>Посмотреть наши <a href="#">часто задаваемые вопросы</a> ответы на часто задаваемые вопросы. После регистрации, большинство вопросов можно ответить в ходе конкретных дискуссионных форумах или через часто задаваемые вопросы.</p>
			</aside>
		</div>
	</div>
</div>

<!-- Modal Login popup-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="cross"></span><span class="cr_t">Закрыть окно</span></button>
				<h4 class="modal-title" id="myModalLabel">Авторизация</h4>
			</div>
			<div class="modal-body container-fluid">
				<div class="row">
					<div class="col-sm-4 col-sm-push-8">
						<div class="modal_info">
							<h4>Добро пожаловать!</h4>
							<p>регистрация дает доступ к полной информации по курсам, размещенным на платформе </p>
						</div>
					</div>
					<div class="col-sm-8 col-sm-pull-4">
						<form role="form" class="login_form">
							<div class="form-group">
								<label for="InputEmail1">E-mail</label>
								<input type="email" class="form-control" id="InputEmail1" placeholder="Введите email">
							</div>
							<div class="form-group">
								<label for="InputPassword1">Пароль</label>
								<input type="password" class="form-control" id="InputPassword1" placeholder="Пароль">
							</div>
							<div class="checkbox remember_check">
								<label><input type="checkbox"> Запомнить меня</label>
							</div>
							<button type="submit" class="btn btn-default modal_sbm">Зарегистрироваться</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- End of Modal Login popup -->
 </body>
</html>