<div class="in_content right_page container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-8 col-sm-height col-top">
			<section class="main_content">
				<h1>регистрация</h1>
				<h5>Или создайте учетную запись</h5>
				<form role="form" class="reg_form">
					<div class="form-group">
						<label for="inputName17">Имя (обязательно)</label>
						<input type="text" class="form-control" id="inputName17">
					</div>
					<div class="form-group">
						<label for="inputEmail17">E-mail (обязательно, необходим для сертификатов)</label>
						<input type="email" class="form-control" id="inputEmail17">
					</div>
					<div class="form-group">
						<label for="inputUserName17">Имя пользователя</label>
						<input type="text" class="form-control" id="inputUserName17">
					</div>
					<div class="form-group">
						<label for="inputPassword17">Пароль</label>
						<input type="text" class="form-control" id="inputPassword17">
					</div>
					<div class="form-group">
						<label for="select1">Образование (не обязательно)</label>
						<select name="" id="select1" class="form-control">
							<option value="">Отсутствует</option>
							<option value="">Среднее</option>
							<option value="">Высшее</option>
						</select>
					</div>
					<div class="form-group">
						<label for="text-area1">Пожалуйста, поделитесь с нами своими причинами для регистрации</label>
						<textarea class="form-control" id="text-area1" rows="5"></textarea>
					</div>
					<div class="checkbox remember_check">
						<label><input type="checkbox"> Я согласен с <%= link_to('пользовательским соглашением', license_path) %><br> и <%= link_to('политикой конфиденциальности', confidentiality_path) %></label>
					</div>
					<button type="submit" class="btn btn-default modal_sbm">Зарегистрироваться</button>
				</form>
			</section>
		</div>
		<div class="col-sm-4 col-sm-height col-top main_sidebar">
			<aside class="simple_side">
				<h5>Добро пожаловать!</h5>
				<p>Регистрация дает вам доступ ко всем из наших текущих и будущих бесплатных курсов. Не готов взять курс только пока? Регистрация ставит вас на нашу рассылку, мы будем информировать вас, как курсы добавляются.</p>
				<h5>Следующие шаги</h5>
				<p>В рамках присоединения EDX, вы получите письмо активации. Вы должны нажать на ссылку активации, чтобы завершить процесс.</p>
				<h5>Нужна помощь?</h5>
				<p>Посмотреть наши <%= link_to('часто задаваемые вопросы', faq_path) %> ответы на часто задаваемые вопросы. После регистрации, большинство вопросов можно ответить в ходе конкретных дискуссионных форумах или через часто задаваемые вопросы.</p>
			</aside>
		</div>
	</div>
</div>