<div class="container-fluid">
	<div class="univer_block in_content">
		<h1><%= @university.name %></h1>
		<div class="univer_picture clearfix">
			<div class="univer_logo"><a href="#"><img src="images/mfti.png" alt=""></a></div>
			<div class="univer_img"><img src="images/img2.jpg" alt=""></div>
		</div>
		<%= @university.description.html_safe %>
	</div>
	<div class="courses_sort clearfix">
		<div class="dropdown sorting">
		  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
			<span class="caret"></span>Сортировка по дате
			</button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			<li><a href="#">По дате начала курса</a></li>
			<li><a href="#">По теме</a></li>
			<li><a href="#">По университету</a></li>
			<li><a href="#">В свободном доступе</a></li>
		  </ul>
		</div>
		<div class="courses_sort_text">курсы университета</div>
		<div class="courses_sort_text_hidden">курсы университета</div>
	</div>
	
	<%= render 'shared/courses_of_university' %>
	
</div>