<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<%= render 'shared/links_universities' %>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<% if !@university.nil? %>
					<h1><%= @university.name %></h1>
					<%= @university.short_description.html_safe %>
					<div><%= link_to 'подробнее', {:controller => "pages", :action => "university", :university => @university.abbreviation }, :class => "btn btn-success margin" %></div>
					<hr>
				<h3>Текущие курсы университета</h3>
				<%= render 'shared/courses_of_university' %>
				<a href="#" class="btn btn-success">все курсы университета</a>
				<% else %>
					<div class='center margin'>В базе данных нет университетов.</div>
				<% end %>
			</section>
		</div>
	</div>
</div>