<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<%= render 'shared/links_universities' %>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<% if !@university.nil? %>
					<h1>Московский физико-технический институт</h1>
					<%= @university.short_description.html_safe %>
					<div><%= link_to 'подробнее', university_path, :class => "btn btn-success margin" %></div>
				
				
				<h3>Текущие курсы университета</h3>
				<div class="course_block_wide">
					<div class="course_title">Биологические часы и астрономия</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img3.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="cours_info">
								<a href="#">РГГУ</a> • 6.00.1x
								<div class="when">Март, 27, 2014</div>
								<div class="what">Заключительная часть курса</div>
							</div>
							<div class="cours_buttons">
								<a href="#">Подробнее</a>
								<a href="#">Записаться</a>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="cours_info">
								<a href="#">СГУ</a> • 6.00.1x
								<div class="when">Сентябрь, 27, 2014</div>
								<div class="what">Первая часть курса</div>
							</div>
							<div class="cours_buttons">
								<a href="#">Подробнее</a>
								<a href="#">Записаться</a>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn btn-success">все курсы университета</a>
				<% end %>
			</section>
		</div>
	</div>
</div>