<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside class="profile_sidebar">
				<div class="ttl">Профиль</div>
				<div class="menu_button">Профиль</div>
				<div class="collapse_block">
					<dl class="profile_details">
						<dt><b>Полное имя</b> <a href="#" data-toggle="modal" data-target="#myModal3">(изменить)</a></dt>
						<dd><%= current_user.name %></dd>
						<dt><b>e-mail</b> <a href="#" data-toggle="modal" data-target="#myModal4">(изменить)</a></dt>
						<dd><%= current_user.email %></dd>
						<dt><b>основной язык</b> <a href="#" data-toggle="modal" data-target="#myModal5">(изменить)</a></dt>
						<dd><%= current_user.primary_language %></dd>
					</dl>
					<%= link_to 'Сбросить пароль', confirm_message_path, :data => { :toggle => 'modal', :target => '#myModal2'} %>
				</div>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">
				<h1>мои курсы</h1>
				<div class="course_block_wide">
					<%= render "user/shared/courses" %>
				</div>
			</section>
		</div>
	</div>
</div>

<div class="helper"><a href="#" data-toggle="modal" data-target="#modal_help">Помощь</a></div>

<%= render 'user/shared/help' %>
<%= render "user/shared/change_password" %>
<%= render "user/shared/change_name" %>
<%= render "user/shared/change_email" %>
<%= render "user/shared/change_primary_language" %>