<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<div class="col-sm-3 col-sm-height col-top main_sidebar">
			<aside class="profile_sidebar">
				<div class="ttl">Профиль</div>
				<div class="menu_button">Профиль</div>
				<div class="collapse_block">
					<dl class="profile_details">
						<dt><b>Полное имя</b> <a href="#" data-toggle="modal" data-target="#myModal3">(изменить)</a></dt>
						<dd><%= current_user.name %></dd>
						<dt><b>e-mail</b> <a href="#" data-toggle="modal" data-target="#myModal4">(изменить)</a></dt>
						<dd><%= current_user.email %></dd>
						<dt><b>основной язык</b> <a href="#" data-toggle="modal" data-target="#myModal5">(изменить)</a></dt>
						<dd><%= current_user.primary_language %></dd>
					</dl>
					<!-- new_user_password_path -->
					<%= link_to 'Сбросить пароль', confirm_message_path, :data => { :toggle => 'modal', :target => '#myModal2'} %>
					<!-- <a href="#" class="reset" data-toggle="modal" data-target="#myModal2">Сбросить пароль</a> -->
				</div>
			</aside>
		</div>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content profile_content">
				<h1>мои курсы</h1>
				<%= render "user/shared/courses" %>
			</section>
		</div>
	</div>
</div>


<div class="helper"><a href="#" data-toggle="modal" data-target="#modal_help">Помощь</a></div>


<!-- Modal Help popup-->
<div class="modal" id="modal_help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header nobrd">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="cross"></span><span class="cr_t">Закрыть окно</span></button>
				<h4 class="modal-title" id="myModalLabel20">помощь</h4>
			</div>
			<div role="tabpanel">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Сообщить о проблеме</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Предложить идею</a></li>
			    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Задать вопрос</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="home">
			    	<div class="modal-body container-fluid">
			    		<div class="row">
			    			<div class="col-sm-8">
								<form role="form" class="login_form">
									<div class="form-group">
										<label for="inputText10">Тема</label>
										<input type="text" class="form-control" id="inputText10">
									</div>
									<div class="form-group">
										<label for="tar1">Описание</label>
										<textarea name="" id="tar1" cols="30" rows="5" class="form-control" ></textarea>
										<button type="submit" class="btn btn-default modal_sbm">Отправить</button>
									</div>
								</form>
							</div>
			    			<div class="col-sm-4">
			    				<div class="modal_info">
									<p>
									Есть <strong>общие вопросы</strong>? <br>
									Вы можете найти много 
									полезной информации 
									в разделе <a href="#">помощи</a>
									</p>
									<p>Есть конкретный вопрос? <br>
									Вы можете связаться с командой 
									поддержки непосредственно</p>
								</div>
							</div>
			    		</div>
			    	</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="profile">
			    	<div class="modal-body container-fluid">
			    		<div class="row">
			    			<div class="col-sm-8">
			    				<form role="form" class="login_form">
									<div class="form-group">
										<label for="inputText11">Тема</label>
										<input type="text" class="form-control" id="inputText11">
									</div>
									<div class="form-group">
										<label for="tar2">Описание</label>
										<textarea name="" id="tar2" cols="30" rows="5" class="form-control" ></textarea>
										<button type="submit" class="btn btn-default modal_sbm">Отправить</button>
									</div>
								</form>
			    			</div>
			    			<div class="col-sm-4">
			    				<div class="modal_info">
									<p>
									Есть <strong>предложения</strong>? <br>
									Вы можете найти много 
									полезной информации 
									в разделе <a href="#">помощи</a>
									</p>
									<p>Напишите свою идею. <br>
									Вы можете связаться с командой 
									поддержки непосредственно</p>
								</div>
			    			</div>
			    		</div>
			    	</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="messages">
			    	<div class="modal-body container-fluid">
						<div class="row">
							<div class="col-sm-8">
								<form role="form" class="login_form">
									<div class="form-group">
										<label for="inputText12">Тема</label>
										<input type="text" class="form-control" id="inputText12">
									</div>
									<div class="form-group">
										<label for="tar3">Описание</label>
										<textarea name="" id="tar3" cols="30" rows="5" class="form-control" ></textarea>
										<button type="submit" class="btn btn-default modal_sbm">Отправить</button>
									</div>
								</form>
							</div>
							<div class="col-sm-4">
								<div class="modal_info">
									<p>
									Хотите <strong>задать вопрос</strong>? <br>
									Вы можете найти много 
									полезной информации 
									в разделе <a href="#">помощи</a>
									</p>
									<p>Есть конкретный вопрос? <br>
									Вы можете связаться с командой 
									поддержки непосредственно</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div><!-- End of Modal Help popup-->




<%= render "user/shared/change_password" %>
<%= render "user/shared/change_name" %>
<%= render "user/shared/change_email" %>
<%= render "user/shared/change_primary_language" %>