<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="cross"></span><span class="cr_t">Закрыть окно</span></button>
				<h4 class="modal-title" id="myModalLabel21">изменить пароль</h4>
			</div>
			<div class="modal_text">
				<p>Для сброса пароля вам отправлено письмо на адрес <em><%= @summ %></em><br>
				В письме будет ссылка, нажав на которую, вам предложат ввести новый пароль</p>
			</div>
		</div>
	</div>
</div>