<div class="in_content container-fluid container-sm-height">
	<div class="row row-sm-height">
		<%= aside_menu %>
		<div class="col-sm-9 col-sm-height col-top">
			<section class="main_content">

				<div class="map_holder">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4497.158001187909!2d37.388126011932926!3d55.69630684936012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54e6b1aa9f99b%3A0xabd296f88886f0e5!2z0JzQvtGB0LrQvtCy0YHQutCw0Y8g0YjQutC-0LvQsCDRg9C_0YDQsNCy0LvQtdC90LjRjyDQodCa0J7Qm9Ca0J7QktCe!5e0!3m2!1sru!2sua!4v1416930207082" frameborder="0" style="border:0"></iframe>
					<img src="images/map.png" alt="Карта">
				</div>

				<h3>Адрес</h3>
				<p><address>
					Сколковский институт науки и технологий<br>
				143025, Российская Федерация, Московская обл., Одинцовский район,<br>
				Новоивановское городское поселение,<br>
				дер. Сколково, ул. Новая, дом 100
				</address></p>
				<h3>Телефоны</h3>
				<p>+7 (495) 280-14-81 <br>+7 (495) 280-14-82</p>

				<h3>Обратная связь</h3>
					<%= render 'shared/errors' %>
					<% puts params %>
				<%= form_for :feedback, url: feedbacks_path do |form| %>
				  <div class="form-group">
				    <label><b>Ваше имя</b> (обязательно)</label>
				    <%= form.text_field :name, autofocus: true, :class => 'form-control', :placeholder => 'Введите имя' %>
				  </div>
				  <div class="form-group">
				    <label><b>Ваш e-mail</b> (обязательно)</label>
				    <%= form.email_field :email, :class => 'form-control', :placeholder => 'Введите email' %>
				  </div>
				  <div class="form-group">
				    <label>Сообщение</label>
				    <%= form.text_area(:message, size: "60x12", :class => 'form-control') %>
				  </div>
				  <div class="form-group">
				  	<label for="select1">Тип (кому адресовано)</label>
				  	<%= form.select(:target, options_for_select([['Общие вопросы'], ['Сотрудничество'], ['Техническая поддержка']]), {:selected => params[0]}, {:class => 'form-control'}) %>
				  </div>
				  <div class="btn_wrap">
				  	<%= form.submit 'Отправить', :class => 'btn btn-default', :title => 'Ваше сообщение отправлено' %>
				  </div>
				<% end %>
				
			</section>
		</div>
	</div>
</div>