<div class="in_content right_page container-fluid container-sm-height margin">
	<div class="row row-sm-height">
    	
      		<section class="main_content center">
				<h4>На указанный вами email будут высланы инструкции для подтверждения Twitter аккаунта</h4>
			</section>
		
	</div>
</div>
