<h4>Доброго времени суток, <%= @resource.email %>!</h4>
</br>
<p>Кто-то пытается изменить ваш пароль. Вы можете сделать это перейдя по <%= link_to 'ссылке', edit_password_url(@resource, reset_password_token: @token) %>.</p>
<p>Если вы не пытались поменять пароль, пожалуйста проигнорируйте это сообщение.</p>
<p>Ваш пароль не будет изменен, пока вы не подтвердите намерение изменить его, перейдя по ссылке.</p>
