<div class="course_block_wide">
					<div class="course_title">Биологические часы и астрономия</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img3.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">МГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Март, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a><br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="course_block_wide">
					<div class="course_title">Солнечная энергия и альтенативные ИЭ</div>
					<div class="row">
						<div class="col-sm-4">
							<img src="images/img4.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<div class="where">
								<a href="#">РГГУ</a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> Сентябрь, 27, 2014
							</div>
							<div class="rate">
								Ваша итоговая оценка: <b>0%</b> <br>
								Минимальный балл для получения сертификата: <b>50%</b>
							</div>
							<div class="crs clearfix">
								<a href="#" class="btn btn-success">Перейти к курсу</a>
								<div class="misc_links">
									<a href="#">Отмена регистрации</a> <br>
									<a href="#">Настройки электронной почты</a>
								</div>
							</div>
						</div>
					</div>
				</div>